.header {
    top: 0;
    width: 100%;
    height: 150px;
    padding: 50px;
    right: 0;
    background-color: white;
    z-index: 10; 
    position: fixed;
}

.logo {
    position:absolute;
    background-size: cover;
    background-position: center;
    top:  0px;
    left: 250px;
}

img {
    width: 150px;
    height: 150px;
}

.floatcontainer {
    position: absolute;
    right: 0px;
    top: 0px;
}

.btn btn-default {
    border: 0px solid transparent;
}

.modules {
    height: 100%;
}

.btn{
    background-color: transparent;
	border-right: 100px solid white;
	border-top: 0px solid transparent;
	border-bottom: 50px solid transparent;
	height: 200px;
	width: 0;
}

.btn:focus {
    outline: none;
    border-right: 100px solid #f2dfa2;  
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: 50px solid transparent;
	height: 200px;
	width: 0;
}

.btn:activ {
    outline: none !important;
    border-right: 100px solid #f2dfa2 !important;  
	border-top: 0px solid transparent !important;
	border-left: 0px solid transparent !important;
	border-bottom: 50px solid transparent !important;
	height: 200px !important;
	width: 0 !important;
}

.btn:hover {
    border-right: 100px solid #f2dfa2;  
	border-bottom: 50px solid transparent;
	height: 200px;
	width: 0;
}

.btn a{
    font-size: 18px;
    color: rosybrown;
    padding:200px 30px 30px;
}




