<md-toolbar class="header" color="primary">
    

    <div class="logo">
        <img src="assets/images/logo.jpg" />
    </div>

    <div align="left">
        <div class="floatcontainer">
            <div class="btn-group">
                <button 
                pageScroll [pageScrollOffset]="150" href="#home"
                class="btn">
                    <a>Home</a>
                </button>
                <button class="btn"
                    pageScroll [pageScrollOffset]="150" href="#services">
                    <a>Services</a>
                </button>
                <button class="btn" pageScroll [pageScrollOffset]="150" href="#gallery">
                    <a>Gallery</a>
                </button>
                <button class="btn" pageScroll [pageScrollOffset]="150" href="#contacts">
                    <a>Contacts</a>
                </button>
            </div>
        </div>
    </div>
</md-toolbar>

