<md-toolbar class="header" color="primary">
    

    <div class="logo">
        <img src="assets/images/logo.jpg" />
    </div>

    <div align="left">
        <div class="floatcontainer">
            <div class="btn-group">
                <button class="btn">
                    <a class="text-center" pageScroll [pageScrollOffset]="150" href="#home">Home</a>
                </button>
                <button class="btn">
                    <a pageScroll [pageScrollOffset]="150" href="#services">Services</a>
                </button>
                <button class="btn">
                    <a pageScroll [pageScrollOffset]="150" href="#gallery">Gallery</a>
                </button>
                <button class="btn">
                    <a pageScroll [pageScrollOffset]="150" href="#contacts">Contacts</a>
                </button>
            </div>
        </div>
    </div>
</md-toolbar>
