<md-toolbar class="header" color="primary">
    

    <div class="logo">
        <img src="assets/images/logo.jpg" />
    </div>

    <div align="left">
        <div class="floatcontainer">
            <div class="btn-group">
                <button class="btn">
                    <p>Home</p>
                </button>
                <button class="btn">
                    <p>Services</p>
                </button>
                <button class="btn">
                    <p>Gallery</p>
                </button>
                <button class="btn">
                    <p>Contact</p>
                </button>
            </div>
        </div>
    </div>
</md-toolbar>
