<div class="full-width text-center" id="services">
    <p class="title">Services</p>
    <p class="desc">We provide a wide variety of massages with competitive pricing and exclusive packages</p>
</div>

<hr />

<div style="display: flex; margin-bottom: 3em; margin-top: 3em;">
    <md-card flex="40" style=" margin-right: 1.5em; margin-left: 20em; margin-right: 20em;">
        <md-card-title>{{ 'Massages' | uppercase }}</md-card-title>
        <md-card-content style="text-align: center; padding-left: 0.1em;">
            <h4>Exceptional customer service provided by our well trained staff</h4>
            <table style="width:100%">
                <tr>
                    <td>Sport Massage</td>
                    <td>Lomi Lomi</td>
                    <td>Aromatherapy</td> 
                </tr>
                <tr>
                    <td>Swedish Massage</td> 
                    <td>Japanese Shiatsu</td>
                    <td>Foot Reflexology</td> 
                </tr>
            </table>
        </md-card-content>
    </md-card>
 
</div>

<div style="display: flex; margin-bottom: 3em; margin-top: 3em;">
    <md-card flex="40" style="margin-right: 1.5em; margin-left: 20em;">
        <md-card-title>{{ 'Pricing &#38; hours' | uppercase }}</md-card-title>
        <md-card-content style="padding-left: 2em; padding-right: 2em;">
            <p style="font-style: italic; margin-top: 0.5em; text-align: center; color: #9b9b9b">*Latest booking at 7:30PM</p>
            <div style="display: flex;">

                <h3 style="font-weight: bold; margin-top: 2em; margin-left: 1em;">$60/hr</h3>

                <table style="margin-left: 5em;">
                    <tr>
                        <td>Monday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Tuesday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Wednesday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Thursday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Friday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Saturday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                    <tr>
                        <td>Sunday:</td> 
                        <td>11AM-9PM</td> 
                    </tr>
                </table>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex="40" style="margin-left: 1.5em; margin-right: 20em;">
        <md-card-title> {{ 'Packages' | uppercase }}</md-card-title>
        <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>


    </md-card>

</div>

<!-- Gallery -->
<div class="full-width text-center" id="gallery">
    <p class="title">Gallery</p>
    <p class="desc">A peak at our gallery. Featuring a clean and quiet envrionment where you can let your mind drift away</p>
</div>

<hr />

<div style=" margin-top: 5em; margin-left: 15em; margin-right: 15em;">
    <gallery 
        [flexBorderSize]="4" 
        [flexImageSize]="7" 
        (viewerChange)="open($event)">
    </gallery>
</div>



<!-- Contacts -->
<div class="full-width text-center" id="contacts">
    <p class="title">Contacts</p>
    <p class="desc" style="font-style: italic;">
        <md-icon>phone</md-icon>
        (778)-859-4192
    <p>
    <p class="desc">
        2760 W Broadway, Vancouver, BC, V6K 4M2
    </p>

</div>

<hr />

<div class="map">
    <sebm-google-map 
        *ngIf="!isOpened"
        style=" margin-left: auto;margin-right: auto;display: block;"
        [latitude]="51.678418" [longitude]="7.809007" [zoom]="18">
        <sebm-google-map-marker [latitude]="51.678418" [longitude]="7.809007"></sebm-google-map-marker>
    </sebm-google-map>
</div>



