<div class="full-width text-center">
    <p class="title">Services</p>
    <p class="desc">Curabitur ut turpis vehicula, tristique massa fringilla, pulvinar velit. Nullam quis magna justo.</p>
</div>

<hr />

<div class="row" flex>
    <md-card flex="50">
        <md-card-title>Packages for Him</md-card-title>
        <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>

        <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
        </md-card-actions>

    </md-card>
    <md-card flex="50">
        <md-card-title>Packages for Her</md-card-title>
        <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>

        <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
        </md-card-actions>

    </md-card>

</div>